body {
  background: burlywood;
  min-height: auto;
}

/* Layout */
.ba-container {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1200px;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button {
  transition: color 0.3s ease-in, border-color 0.3s ease-in,
    background-color 0.3s ease-in, opacity 0.3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button {
  display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover {
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
  transition: color 0.3s ease-in, border-color 0.3s ease-in,
    background-color 0.3s ease-in, opacity 0.3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {
}
textarea {
}
.ba-main {
  position: absolute;
  height: 80vmin;
  width: 80vmin;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 2vmin solid white;
  margin: auto;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
}
.ba-checkers {
  position: absolute;
  background: grey;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 3px solid gray;
  z-index: 0;
}
.ba-red-checkers {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 50%;
  left: 0;
}
.ba-white-checkers {
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 0;
}
.ba-checkers-row {
  position: absolute;
  top: 0;
  left: 0;
  height: 25%;
  width: 100%;
}

.ba-checkers-row:nth-child(1n) {
  top: 0%;
}
.ba-checkers-row:nth-child(2n) {
  top: 25%;
}
.ba-checkers-row:nth-child(3n) {
  top: 50%;
}
.ba-checkers-row:nth-child(4n) {
  top: 75%;
}
.ba-checkers-item {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 12.5%;
  z-index: 2;
}
.ba-checkers-item:nth-child(1n) {
  left: 0;
}
.ba-checkers-item:nth-child(2n) {
  left: 12.5%;
}
.ba-checkers-item:nth-child(3n) {
  left: 25%;
}
.ba-checkers-item:nth-child(4n) {
  left: 37.5%;
}
.ba-checkers-item:nth-child(5n) {
  left: 50%;
}
.ba-checkers-item:nth-child(6n) {
  left: 62.5%;
}
.ba-checkers-item:nth-child(7n) {
  left: 75%;
}
.ba-checkers-item:nth-child(8n) {
  left: 87.5%;
}

.ba-checkers-row:nth-child(odd) .ba-checkers-item:nth-child(even) {
  background: white;
}
.ba-checkers-row:nth-child(even) .ba-checkers-item:nth-child(odd) {
  background: white;
}
.ba-red-checkers
  .ba-checkers-row:nth-child(odd)
  .ba-checkers-item:nth-child(odd):after,
.ba-red-checkers
  .ba-checkers-row:nth-child(2)
  .ba-checkers-item:nth-child(even):after,
.ba-white-checkers
  .ba-checkers-row:nth-child(even)
  .ba-checkers-item:nth-child(even):after,
.ba-white-checkers
  .ba-checkers-row:nth-child(3)
  .ba-checkers-item:nth-child(odd):after {
  content: "";
  background: red;
  border-radius: 50%;
  position: absolute;
  top: 10%;
  right: 10%;
  bottom: 10%;
  left: 10%;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
  z-index: 3;
}
.ba-white-checkers .ba-checkers-item::after {
  background: white !important;
}
.ba-checkers-item:hover::after {
  transform: translateY(-10%);
}
